
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Base da Home

#home {
	.secao {
		position: relative;
		@include fundo();
		text-align: center;
	}
	.secao_titulo {
		position: relative;
		margin: 0;
		text-transform: none;
		font-weight: $bk;
		font-size: 130px;
		line-height: 1em;
		color: $amareloMarca;
		// text-shadow: 0 0 15px rgba(0,0,0,0.2);
		> .linha1,
		> .linha2,
		> .linha3,
		> .linha4 {
			display: block;
			position: relative;
			// text-shadow: none;
			line-height: 1em;
			> .linha_wrapper {
				display: inline-block;
				position: relative;
			}
		}
	}
}

	.home_scroll {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 15vw;
		z-index: 2;
		transform: translate(-50%,0);
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border: solid 2px;
		line-height: 44px;
		text-align: center;
		transition: $rapida;
		> .home_scroll_img {
			transition: $rapida;
		}
		&:hover,
		&:focus {
			// transform: translate(-50%,4px);
			> .home_scroll_img {
				transform: translateY(3px);
			}
		}
		&.lilas {
			border-color: $lilas;
			&:hover,
			&:focus {
				border-color: $turquesa;
			}
		}
		&.amarelo {
			border-color: $amareloMarca;
			&:hover,
			&:focus {
				border-color: white;
			}
		}
		&.turquesa {
			border-color: $turquesa;
			&:hover,
			&:focus {
				border-color: $lilas;
			}
		}
		&.preto {
			border-color: $preto;
			&:hover,
			&:focus {
				border-color: $turquesa;
			}
		}
	}



	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// INTRO

	#home #intro {
		@include prop(790);
	}
	
		#intro_wrapper {
			@include overlay();
			padding-top: 220px;
			text-align: center;
		}
		
			#intro_titulo {
				> .linha1 {
					font-family: $shadows;
					font-weight: $rg;
					font-size: 36px;
					color: white;
				}
			}
			
			#intro_frases {
				position: relative;
				margin-top: -60px;
				margin-bottom: 20px;
				padding-bottom: 10px;
				&::after {
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					width: 82px;
					height: 3px;
					background-color: white;
					content: '';
				}
				.owl-slide {
					font-family: $dosis;
					font-weight: $bd;
					font-size: 160px;
					line-height: $lh_natural;
					color: $amareloMarca;
				}
			}
			
			#intro_wrapper .intro_texto {
				margin-bottom: 5px;
				font-family: $dosis;
				font-size: 30px;
				line-height: 1;
				font-weight: $rg;
				color: white;
			}
			
			#intro_wrapper .intro_hashtag {
				margin-bottom: 15vw;
				font-family: $dosis;
				font-size: 20px;
				font-weight: $rg;
				color: $amareloMarca;
			}
			
			#intro_wrapper .intro_mais {
				position: absolute;
				left: 50%;
				bottom: 15vw;
				z-index: 2;
				transform: translateX(-50%);
				font-size: 14px;
				color: $amareloMarca;
				> .home_scroll {
					position: static;
					margin: 0 auto 10px;
					transform: none;
				}
				> .intro_mais_rotulo {
					display: block;
					font-family: $dosis;
				}
				&:hover,
				&:focus {
					color: white;
				}
			}



	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// SOLUÇÕES
	
	#home #solucoes {
		background-color: #F5F5F5;
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			height: 70%;
			z-index: 1;
			width: 200%;
			background-color: #F5F5F5;
			transform-origin: right top;
			transform: rotate(11deg);
			content: '';
		}
		&:after {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			height: 70%;
			width: 200%;
			background-color: #F5F5F5;
			transform-origin: right bottom;
			transform: rotate(-6deg);
			content: '';
		}
	}
	
		#solucoes_wrapper {
			// @include overlay();
			position: relative;
			z-index: 2;
			display: inline-block;
			vertical-align: top;
			width: 100%;
			// background: url('imagens/solucoes_lateral_esq.png') left top no-repeat;
			&::before {
				position: absolute;
				top: -10vw;
				left: 0;
				z-index: 3;
				@include imagem( 'imagens/solucoes_lateral_esq.png', 133, 497 );
				content: '';
			}
			> .container {
				margin-top: -5vw;
				margin-bottom: -5vw;
			}
			.home_scroll {
				bottom: 0vw;
			}
		}
		
			#home #solucoes_titulo {
				margin-bottom: 30px;
				> .linha1 {
					position: relative;
					z-index: 3;
					margin: 0 15%;
					background-color: #F5F5F5;
					font-family: $dosis;
					font-weight: $rg;
					font-size: 36px;
					color: $preto;
				}
				> .linha2 {
					margin-top: -0.33em;
					margin-bottom: -0.05em;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 140px;
					color: $lilas;
				}
				> .linha3 {
					font-weight: $rg;
					font-family: $shadows;
					font-size: 30px;
					color: $preto;
				}
			}
			
			#solucoes_itens {
				padding-bottom: 4vw;
				.solucoes_item {
					position: relative;
					margin-bottom: 40px;
					.item_icone {
						margin: 0 auto 15px;
						width: 94px;
						height: 94px;
						// border-radius: 50%;
						// border: solid $lilas 2px;
						line-height: 90px;
						text-align: center;
						transition: $rapida;
						> .item_icone_img {
							transition: $rapida;
							@include svgColor();
						}
					}
					.item_titulo {
						margin: 0 0 5px;
						font-weight: $bd;
						font-size: 20px;
						font-family: $dosis;
						letter-spacing: 0.5px;
					}
					.item_texto {
						margin-bottom: 5px;
						font-family: $dosis;
						font-weight: $lt;
						font-size: 18px;
						line-height: 1.2;
					}
					.item_link {
						font-family: $dosis;
						font-weight: $lt;
						font-size: 14px;
						line-height: 1.2;
						color: $lilas;
						&:hover,
						&:focus {
							color: $cinzaMedio;
						}
					}
					&:hover {
						.item_icone {
							border-color: $turquesa;
							> .item_icone_img {
								transform: scale(1.075);
								@include svgColor( $turquesa );
							}
						}
						.item_link {
							color: $turquesa;
						}
					}
				}
			}
	


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// BLOG
	
	#home_blog {
		background-color: white;
		padding-top: 10vw;
		padding-bottom: 15vw;
		&::after {
			position: absolute;
			right: 0;
			top: 40px;
			@include imagem( 'imagens/blog_lateral_dir.png', 197, 499 );
			content: '';
		}
	}
	
		#home_blog_wrapper,
		#rodape_blog_wrapper {
			text-align: center;
			.secao_titulo {
				margin: 0 0 35px;
				> .linha1 {
					font-family: $dosis;
					font-weight: $bd;
					font-size: 78px;
					color: $lilas;
				}
			}
			.secao_intro {
				margin-bottom: 60px;
				font-size: 27px;
				font-weight: $xl;
			}
			.blog_botao {
				display: block;
				width: 100%;
				height: auto;
				line-height: 66px;
				border-radius: 50px;
				border: solid $lilas 4px;
				background-color: transparent;
				font-family: $dosis;
				font-weight: $th;
				font-size: 16px;
				color: $lilas;
				> .blog_botao_img {
					margin-left: 25px;
					transition: $rapida;
				}
				&:hover,
				&:focus {
					border-color: $turquesa;
					color: $turquesa;
					> .blog_botao_img {
						transform: translateX(3px);
					}
				}
			}
			.home_scroll {
				bottom: 8vw;
			}
		}
		
			#slider_blog.owl-carousel {
				margin-bottom: 55px;
				.owl-nav {
					margin-top: -25px;
					left: -76px;
					right: -76px;
					> .owl-prev,
					> .owl-next {
						width: 31px;
						height: 49px;
						font-size: 0;
					}
					> .owl-prev {
						@include imagem('imagens/blog_slider_esq.png');
					}
					> .owl-next {
						@include imagem('imagens/blog_slider_dir.png');
					}
				}
				.slider_blog_lista {
				}
			}
	


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// PROJETOS
	
	#projetos {
		DISPLAY: NONE;
		min-height: 110vh;
		padding-top: 10vw;
		padding-bottom: 15vw;
		background-color: #353535;
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			height: 70%;
			z-index: 1;
			width: 200%;
			background-color: #353535;
			transform-origin: right top;
			transform: rotate(6deg);
			content: '';
		}
		&:after {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 1;
			height: 70%;
			width: 200%;
			background-color: #353535;
			transform-origin: right bottom;
			transform: rotate(-6deg);
			content: '';
		}
	}
	
		#projetos_wrapper {
			@include overlay();
			z-index: 3;
			&::before,
			&::after {
				position: absolute;
				top: 50%;
				z-index: 1;
				transform: translateY(-50%);
				content: '';
			}
			&::before {
				left: 0;
				@include imagem( 'imagens/projetos_lateral_esq.png', 138, 214 );
			}
			&::after {
				right: 0;
				@include imagem( 'imagens/projetos_lateral_dir.png', 180, 653 );
			}
			.secao_titulo {
				position: relative;
				margin-bottom: 45px;
				padding-bottom: 35px;
				> .linha1 {
					font-family: $shadows;
					font-weight: $rg;
					font-size: 36px;
					color: white;
				}
				> .linha2 {
					margin-bottom: 8px;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 78px;
					line-height: 0.8em;
				}
				> .linha3 {
					font-family: $dosis;
					font-weight: $rg;
					font-size: 36px;
					color: white;
				}
				&::after {
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					width: 90px;
					height: 6px;
					background-color: $amareloMarca;
					border-radius: 10px;
					content: '';
				}
			}
			.secao_intro {
				margin-bottom: 50px;
				font-family: $dosis;
				font-weight: $rg;
				font-size: 27px;
				color: white;
			}
			.home_scroll {
				bottom: 5vw;
			}
		}

	

	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// ESTATÍSTICAS & CLIENTES
	
	#estatisticas {
		@include fundo();
		padding-top: 15vw;
		padding-bottom: 8vw;
		overflow: hidden;
		&:before {
			position: absolute;
			bottom: 100%;
			right: 0;
			height: 70%;
			z-index: 1;
			width: 200%;
			background-color: white;
			transform-origin: right bottom;
			transform: rotate(-4deg);
			content: '';
		}
	}
	
		#estatisticas_wrapper {
			.secao_titulo {
				margin: 0 0 40px;
				> .linha1 {
					font-family: $shadows;
					font-weight: $rg;
					font-size: 36px;
					color: white;
				}
				> .linha2 {
					font-family: $dosis;
					font-weight: $bd;
					font-size: 78px;
					color: $turquesa;
				}
			}
			.home_scroll {
				bottom: 3vw;
			}
		}
		
			#estatisticas_numeros {
				margin-bottom: 35px;
				font-size: 0;
				.numeros_item {
					display: inline-block;
					vertical-align: top;
					text-align: center;
					&:not(:first-child) {
						margin-left: 25px;
					}
					&:not(:last-child) {
						margin-right: 25px;
					}
					> .item_valor {
						display: block;
						margin-bottom: 5px;
						font-family: $dosis;
						font-weight: $rg;
						font-size: 68px;
						line-height: 1;
						color: $turquesa;
					}
					> .item_rotulo {
						display: block;
						font-weight: $bd;
						font-size: 14px;
						line-height: 1;
						color: white;
					}
				}
			}
			
			#estatisticas_wrapper .clientes_titulo {
				margin: 0 0 35px;
				font-family: $dosis;
				font-size: 36px;
				font-weight: $bd;
				color: $turquesa;
			}
			
			#clientes_slider {
				margin-bottom: 60px;
				.owl-nav {
					margin-top: -24px;
					left: -75px;
					right: -75px;
					> .owl-prev,
					> .owl-next {
						width: 30px;
						height: 48px;
						font-size: 0;
					}
					> .owl-prev {
						@include imagem('imagens/clientes_slider_esq.png');
					}
					> .owl-next {
						@include imagem('imagens/clientes_slider_dir.png');
					}
				}
				.logo {
					position: relative;
					border: solid $turquesa 2px;
					background-color: white;
					padding-bottom: calc( 100% - 4px );
					> .logo_img {
						position: absolute;
						top: 50%;
						left: 50%;
						max-width: 80%;
						max-height: 80%;
						width: auto;
						height: auto;
						transform: translate( -50%, -50% );
					}
				}
			}
			
			#estatisticas_wrapper .estatisticas_botao {
				width: auto;
				border-radius: 50px;
				border: none;
				background-color: $turquesa;
				padding: 18px 56px;
				font-size: 16px;
				color: white;
				> .estatisticas_botao_img {
					margin-left: 18px;
					transition: $rapida;
				}
				&:hover,
				&:focus {
					background-color: $lilas;
					> .estatisticas_botao_img {
						transform: translateX(3px);
					}
				}
			}

	

	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// INOVAÇÃO
	
	#inovacao {
		padding-top: 3vw;
		padding-bottom: 10vw;
		&::after {
			position: absolute;
			right: 0;
			top: 0;
			@include imagem( 'imagens/inovacao_lateral_dir.png', 368, 497 );
			content: '';
		}
	}
	
		#inovacao_wrapper {
			.inovacao_grafico_img {
			}
			.home_scroll {
				bottom: 8vw;
			}
		}
		
			#inovacao_conteudo {
				padding-top: 50px;
				padding-left: 10px;
				text-align: left;
				.secao_titulo {
					margin-left: calc( ( 12 / 7 * 5 / 12 * 100% + 27.5px ) * -1 );
					margin-bottom: 5px;
					width: calc( 12 / 7 * 100% + 27.5px );
					text-align: center;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 136px;
				}
				.inovacao_titulo_linha2 {
					display: block;
					margin-bottom: 30px;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 48px;
					line-height: 1;
					color: $preto;
				}
				.inovacao_texto {
					margin-bottom: 35px;
					padding-right: 27.5%;
					font-family: $dosis;
					font-weight: $rg;
					font-size: 26px;
					line-height: $lh_simples;
					color: $cinzaEscuro;
				}
				.inovacao_logo {
					float: right;
					margin-left: 15px;
					> .inovacao_logo_img {}
				}
				.inovacao_botao {
					border-radius: 50px;
					border: solid $amareloMarca 2px;
					background-color: transparent;
					padding: 22px;
					font-family: $dosis;
					font-size: 17px;
					font-weight: $xl;
					line-height: 1;
					color: $amareloMarca;
					> .inovacao_botao_img {
						transform: $rapida;
						margin-left: 18px;
					}
					&:hover,
					&:focus {
						border-color: $turquesa;
						color: $turquesa;
						> .inovacao_botao_img {
							transform: translateX(3px);
						}
					}
				}
			}
	


	// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// EVENTOS
	
	#eventos {
		DISPLAY: NONE;
		min-height: 110vh;
		padding-top: 0;
		background-color: #F2F2F2;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			height: 70%;
			z-index: 1;
			width: 200%;
			background-color: #F2F2F2;
			transform-origin: left top;
			transform: rotate(-8deg);
			content: '';
		}
	}
	
		#eventos_wrapper {
			@include overlay();
			z-index: 3;
			.secao_titulo {
				margin-top: -10px;
				margin-bottom: 50px;
				> .linha1 {
					font-family: $dosis;
					font-weight: $bd;
					font-size: 78px;
					line-height: 0.9em;
					color: $azulMedio;
				}
				> .linha2 {
					font-family: $dosis;
					font-weight: $rg;
					font-size: 36px;
					color: $preto;
				}
			}
			.eventos_botao {
				display: block;
				margin: 0 0 4vw;
				width: 100%;
				border-radius: 50px;
				border: solid $azulEscuro 4px;
				background-color: transparent;
				font-family: $dosis;
				font-weight: $th;
				font-size: 16px;
				line-height: 66px;
				color: $azulEscuro;
				> .eventos_botao_img {
					margin-left: 25px;
					transition: $rapida;
				}
				&:hover,
				&:focus {
					border-color: $turquesa;
					color: $turquesa;
					> .eventos_botao_img {
						transform: translateX(3px);
					}
				}
			}
		}
		
			#eventos_posts {
				margin-bottom: 30px;
			}
			
				#content-area #eventos_post_destaque .posts_agenda {
					.post_item {
						margin-bottom: 0;
					}
					.post_item .post_conteudo {
						margin: 45px 40px 0 60px;
						padding-left: 135px;
						padding-bottom: calc( 10px + 74px );
						.post_titulo {
							line-height: $lh_natural;
							font-size: 32px;
						}
						.post_resumo {
							display: block;
						}
						.post_meta {
							left: 60px;
						}
						.post_compartilhar {
							left: 60px;
							bottom: 30px;
							margin-bottom: 20px;
							.compartilhar_item {
								font-size: 22px;
								&:not(:first-child) {
									margin-left: 11px;
									padding-left: 12px;
									&::before {
										height: 14px;
									}
								}
								.compartilhar_link .compartilhar_icone {
									font-size: 22px;
								}
							}
						}
						.post_mais {
							right: 40px;
							bottom: 30px;
							padding: 22px;
							border-width: 5px;
							font-size: 20px;
							> .post_mais_img {
								max-width: 100%;
								margin-left: 28px;
							}
						}
					}
				}
				
				#content-area #eventos_posts_simples .posts_agenda {
					.post_col:last-child .post_item {
						margin-bottom: 0;
					}
				}
		