#colophon {
}
		
	// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// Atendimento
	
	#atendimento {
		padding: 60px 0 90px;
		@include fundo('imagens/rodape_fundo.jpg');
		background-color: #3A3A3A;
		text-align: center;
		color: white;
		.atendimento_chamada {
			margin: 0 0 25px;
			text-transform: uppercase;
			font-weight: $bd;
			font-size: 24px;
			line-height: $lh_natural;
			color: white;
			> strong {
				color: $azulClaro;
			}
			> em {
				font-weight: $rg;
				font-style: normal;
			}
		}
		.atendimento_texto {
			margin-bottom: 25px;
			font-weight: $rg;
			font-size: 14px;
			line-height: $lh_simples;
			color: white;
		}
		.atendimento_acoes {
			.btn {
				border-style: solid;
				border-width: 2px;
				border-radius: 0;
				padding: 0 16px;
				font-weight: $rg;
				font-size: 12px;
				&:not(:last-child) {
					margin-right: 10px;
				}
			}
			.btn-azul {
				border-color: $azulClaro;
			}
			.btn-transparente {
				border-color: white;
			}
		}
	}
	
	
	
	// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// Rodapé
	
	#rodape {
		background-color: $azulClaro;
		padding: 18px 0 22px;
		.rodape_subtitulo {
			margin: 0 0 10px;
			text-transform: uppercase;
			font-weight: $rg;
			font-size: 14px;
			line-height: $lh_simples;
			color: white;
		}
		.info_item {
			&.horario .info_titulo {
				font-size: 12px;
			}
		}
	}
		
		
		
	// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	// Copyright

	#copyright {
		background-color: white;
		padding: 10px 0 20px;
		line-height: 54px;
	}
	
		#rodape_logo {
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
			.rodape_logo_img {
				max-height: 54px;
				width: auto;
			}
		}
		
		#copyright_info {
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
			width: 100%;
			font-weight: $rg;
			line-height: $lh_natural;
			font-size: 12px;
			color: $cinzaMedio;
		}
		
		#rodape_social {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
		}
		
		#credito {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			text-align: right;
			font-size: 0;
			line-height: 35px;
			color: #ddd;
			&:hover,
			&:focus {
				color: $azulClaro;
				#credito_rotulo {
					left: 3px;
				}
			}
		}
		
			#credito_img {
				display: inline-block;
			}
			
			#credito_rotulo {
				display: inline-block;
				position: relative;
				left: 0px;
				vertical-align: middle;
				margin-left: 10px;
				line-height: $lh_natural;
				transition: $rapida;
				width: calc( 100% - 35px - 10px );
				font-size: 12px;
				text-align: left;
			}
		