#servicos {
}

	#servicos .entry-header {
		position: relative;
		overflow: hidden;
		padding-top: $alturaCabecalho;
		@include fundo();
		&::after {
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 1;
			height: 70%;
			width: 200%;
			background-color: white;
			transform-origin: right top;
			transform: rotate(8deg);
			content: '';
		}
		.header-caption {
			position: relative;
			z-index: 2;
			padding-top: calc( 120 / #{$larguraLayout} * 100vw );
			padding-bottom: calc( 325 / #{$larguraLayout} * 100vw );
			text-align: left;
			.col_titulo {
				text-align: right;
			}
			.entry-title {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 0 0;
				text-align: left;
				> .linha1 {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 44px;
					line-height: $lh_simples;
					color: white;
				}
				> .linha2 {
					font-family: $dosis;
					font-size: 96px;
					font-weight: $bd;
					line-height: 0.75em;
					color: $lilas;
				}
				> .linha3 {
					display: block;
					margin-top: 10px;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 44px;
					line-height: $lh_simples;
					color: white;
				}
			}
			.entry-desc {
				margin-bottom: 0;
				min-height: 128px;
				@include imagem('imagens/servicos_desc.png');
				background-position: left center;
				padding-left: calc( 40px + 16px );
				line-height: 128px;
				> .entry-desc-texto {
					display: inline-block;
					vertical-align: middle;
					font-family: $dosis;
					font-weight: $lt;
					font-size: 26px;
					line-height: $lh_simples;
					color: white;
				}
			}
		}
	}
	
	#servicos .entry-main {
	}
	
		.servicos_blocos {
			.bloco {
				position: relative;
				.bloco_sobre {
					position: relative;
					z-index: 5;
					// margin-bottom: 50px;
					margin-bottom: 100px;
					text-align: center;
					.sobre_titulo {
						// margin: 0 0 20px;
						margin: 0 0 70px;
						> .linha1 {
							display: block;
							margin-bottom: -5px;
							font-family: $shadows;
							font-weight: $rg;
							font-size: 36px;
							line-height: 1;
						}
						> .linha2 {
							display: block;
							font-family: $dosis;
							font-weight: $bd;
							font-size: 74px;
							line-height: 1;
							color: $lilas;
						}
						> .linha3 {
							display: block;
							font-family: $shadows;
							font-weight: $rg;
							font-size: 90px;
							line-height: 1;
						}
						> .linha4 {
							display: block;
							margin-top: 8px;
							font-family: $dosis;
							font-weight: $rg;
							font-size: 34px;
							line-height: 1;
						}
					}
					.sobre_intro {
						margin: 0 auto;
						max-width: 600px;
						font-family: $dosis;
						font-weight: $lt;
						font-size: 24px;
						line-height: $lh_simples;
					}
				}
				.bloco_itens {
					position: relative;
					z-index: 5;
					.bloco_item {
						margin-bottom: 55px;
						.item_imagem {
							margin-bottom: 15px;
							line-height: 100px;
							> .item_imagem_img {
								transition: $rapida;
								vertical-align: top;
								max-width: 70px;
								max-height: 70px;
								width: auto;
								height: auto;
								@include svgColor();
							}
							&.borda_tipo1 {
								display: inline-block;
								border-radius: 50%;
								border: solid $lilas 3px;
								height: 90px;
								width: 90px;
								line-height: 84px !important;
								text-align: center;
								> .item_imagem_img {
									vertical-align: middle;
									max-width: 85%;
									max-height: 85%;
									width: auto;
									height: auto;
								}
							}
							&.sem_borda {}
						}
						.item_nome {
							margin: 0 0 10px;
							font-family: $dosis;
							font-weight: $bd;
							font-size: 24px;
							line-height: $lh_simples;
							color: $lilas;
						}
						.item_descricao {
							margin-bottom: 0;
							font-family: $dosis;
							font-size: 18px;
							font-weight: $lt;
							line-height: $lh_natural;
						}
						.item_mais {
							margin-top: 35px;
							margin-bottom: 0;
							border-radius: 50px;
							border: solid $lilas 2px;
							background-color: transparent;
							padding: 0 45px;
							line-height: 48px;
							font-family: $dosis;
							font-weight: $lt;
							font-size: 16px;
							color: $lilas;
							> .item_mais_seta {
								margin-left: 35px;
								transition: $rapida;
							}
							&:hover,
							&:focus {
								border-color: $turquesa;
								color: $turquesa;
								> .item_mais_seta {
									transform: translateX(3px);
								}
							}
						}
						&:hover {
							.item_imagem > .item_imagem_img {
								transform: scale(1.1);
								@include svgColor( $turquesa );
							}
						}
					}
					&.colunas_3c {
					}
					&.colunas_3e {
						.bloco_item {
							padding: 0 40px;
						}
					}
					&.colunas_4c {
					}
					&.colunas_4e {
						.bloco_item {
							padding: 0 40px;
						}
					}
					&.layout_centro {
						.bloco_item {
							text-align: center;
							.item_imagem {
								.item_imagem_img {
									max-width: 90px;
									max-height: 90px;
								}
							}
						}
					}
					&.layout_esquerda {
						.bloco_item {
							text-align: left;
							font-size: 0;
							.item_imagem {
								display: inline-block;
								vertical-align: top;
								width: 25%;
								.item_imagem_img {
									// max-width: 90px;
									// max-height: 90px;
								}
							}
							.item_nome {
								display: inline-block;
								width: 75%;
								padding-top: 8px;
							}
						}
					}
				}
				&.cor_branco {
					background-color: white;
					// overflow: hidden;
					color: $preto;
					&:only-child {
						&::before,
						&::after {
							position: absolute;
							z-index: 1;
							content: '';
							pointer-events: none;
						}
						&::before {
							@include imagem( 'imagens/servicos_esquerda.png', 269, 560 );
							left: 0;
							top: calc( 120 / #{$larguraLayout} * -100vw );
						}
						&::after {
							@include imagem( 'imagens/servicos_direita.png', 109, 484 );
							right: 0;
							top: calc( 205 / #{$larguraLayout} * 100vw );
						}
					}
					&:not(:only-child):not(:first-child) {
						padding-top: 80px;
					}
					&:not(:only-child):last-child {
						&::before,
						&::after {
							position: absolute;
							z-index: 1;
							content: '';
							pointer-events: none;
						}
						&::before {
							@include imagem( 'imagens/digtran_c_esquerda.png', 105, 531 );
							left: 0;
							top: calc( 275 / #{$larguraLayout} * 100vw );
						}
						&::after {
							@include imagem( 'imagens/digtran_c_direita.png', 109, 549 );
							right: 0;
							top: calc( 32 / #{$larguraLayout} * 100vw );
						}
					}
				}
				&.cor_lilas {
					background-color: #68043E;
					padding: calc( 190 / #{$larguraLayout} * 100vw ) 0 calc( ( 120 - 55 ) / #{$larguraLayout} * 100vw );
					color: white;
					&::before {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						z-index: 1;
						border-style: solid;
						border-width: calc( 115 / #{$larguraLayout} * 100vw ) 50vw;
						border-color: white transparent transparent;
						content: '';
						pointer-events: none;
					}
					.bloco_sobre {
						.sobre_titulo {
							> .linha2 {
								font-family: $shadows;
								font-size: 46px;
								font-weight: $rg;
								color: white;
							}
						}
					}
					.bloco_itens {
						.col {
							margin-bottom: 55px;
						}
						.col:not(:first-child) {
							border-left: solid rgba( 255, 255, 255, 0.2 ) 1px;
						}
						.col:not(:last-child) {
							border-right: solid rgba( 255, 255, 255, 0.2 ) 1px;
						}
						.bloco_item {
							margin-bottom: 0;
							padding-top: 5px;
							padding-bottom: 25px;
							.item_imagem > .item_imagem_img {
								max-width: 100px;
								max-height: 100px;
							}
							.item_nome {
								margin-bottom: 20px;
								font-weight: $rg;
								color: white;
							}
						}
					}
				}
			}
		}
		
		
		
// *********************************************************************************
// DIGITAL STUDIO
// *********************************************************************************

#digital-studio {
	.bloco {
		position: relative;
	}
	
	// -----------------------------------------------------------------------------
	// BLOCO 1
	
	#bloco1 {
		margin-bottom: 60px;
		&::before,
		&::after {
			position: absolute;
			z-index: 1;
			content: '';
			pointer-events: none;
		}
		&::before {
			@include imagem( 'imagens/digtran_c_esquerda.png', 105, 531 );
			left: 0;
			top: calc( 275 / #{$larguraLayout} * 100vw );
		}
		&::after {
			@include imagem( 'imagens/digtran_c_direita.png', 109, 549 );
			right: 0;
			top: calc( 32 / #{$larguraLayout} * 100vw );
		}
		.intro {
			.intro_titulo {
				margin: 0 0 30px;
				> .linha1 {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 35px;
					line-height: 0.7;
					color: preto;
				}
				> .linha2 {
					display: block;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 70px;
					line-height: 0.7;
					color: $lilas;
				}
			}
			.intro_texto {
				margin-bottom: 30px;
				font-family: $dosis;
				font-weight: $lt;
				font-size: 22px;
				line-height: $lh_natural;
			}
		}
		.sidebox {
			background-color: #FAFAFA;
			padding: 40px 55px 90px;
			.sidebox_item {
				text-align: left;
				font-size: 0;
				&:not(:last-child) {
					margin-bottom: 25px;
				}
				.item_icone {
					display: inline-block;
					width: 25%;
					> .item_icone_img {
						vertical-align: top;
					}
				}
				.item_nome {
					display: inline-block;
					vertical-align: top;
					margin: 0;
					width: 75%;
					padding-top: 5px;
					padding-left: 10px;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 24px;
					color: $lilas;
					line-height: $lh_simples;
				}
				ul {
					display: block;
					margin: 25px 0 0;
					list-style-type: none;
					padding: 0;
					> li {
						&::before {
							display: inline-block;
							vertical-align: middle;
							margin-right: 2px;
							@include base64( 'iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFEAYAAAAyPZGYAAAAU0lEQVR42mPokmYw8c9jYIDQfHwQWk0NJg6VkFeA0C+eQ+hXLyF0UyNUQUIChF61EkIbGUHoWzehCiSlIPT9+xD640cIXVrGgOoGVjYILSoGEwcAx7AuI/h+Rz4AAAAASUVORK5CYII=', 4, 5 );
							content: '';
						}
						margin: 0;
						padding: 0;
						font-family: $dosis;
						font-weight: $lt;
						font-size: 18px;
						color: $preto;
					}
				}
			}
		}
		.secao_grafico {
			padding-left: 30px;
			font-size: 0;
			text-align: center;
			blockquote {
				margin: 0 0 25px;
				border-left: solid $lilas 3px;
				padding: 0 0 0 20px;
				> p {
					margin-bottom: 0;
					text-align: left;
					font-family: $dosis;
					font-weight: $lt;
					font-size: 24px;
					line-height: 1;
					color: $preto;
				}
			}
			.passos {
				text-align: left;
				.passo:not(:first-of-type) {
					margin-left: -2px;
				}
			}
		}
	} // #bloco1
	
	// -----------------------------------------------------------------------------
	// BLOCO 2
	
	#bloco2 {
		padding-bottom: calc( 70 / #{$larguraLayout} * 100vw );
		.col_lateral {
			
		}
		.imagem_lateral {
			position: absolute;
			top: -140px;
			left: -20px;
			z-index: 2;
			max-width: calc( 100% + 20px + 20px );
			width: auto;
		}
		.intro {
			margin-bottom: 90px;
			padding-left: 50px;
			text-align: left;
			.intro_titulo {
				margin: 0;
				> .linha1 {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 34px;
					line-height: 0.6em;
				}
				> .linha2 {
					display: block;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 72px;
					line-height: 0.6em;
					color: $lilas;
				}
			}
			.intro_texto {
				margin: 40px 0 0;
				font-family: $dosis;
				font-weight: $lt;
				font-size: 22px;
				line-height: $lh_simples;
			}
		} // .intro
		.grafico {
			margin-bottom: 25px;
			text-align: center;
		}
		.texto_final {
			margin-bottom: 0;
			padding-left: 50px;
			text-align: left;
			font-family: $dosis;
			font-weight: $lt;
			font-size: 22px;
			line-height: $lh_simples;
			> strong {
				color: $lilas;
			}
		}
	} // #bloco2
	
	// -----------------------------------------------------------------------------
	// BLOCO 3
	
	#bloco3 {
		@include fundo();
		padding-top: calc( 135 / #{$larguraLayout} * 100vw );
		padding-bottom: calc( 160 / #{$larguraLayout} * 100vw );
		overflow: hidden;
		text-align: left;
		&::before {
			position: absolute;
			top: 100%;
			right: 50%;
			z-index: 1;
			height: 70%;
			width: 200%;
			background-color: white;
			transform-origin: right top;
			transform: rotate(8deg);
			content: '';
		}
		&::after {
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 1;
			height: 70%;
			width: 200%;
			background-color: white;
			transform-origin: left top;
			transform: rotate(-8deg);
			content: '';
		}
		.intro_titulo {
			margin: 0;
			> .linha1 {
				display: block;
				font-family: $shadows;
				font-weight: $rg;
				font-size: 34px;
				line-height: 1;
				color: white;
			}
			> .linha2 {
				display: block;
				font-family: $dosis;
				font-weight: $bd;
				font-size: 104px;
				line-height: 0.7;
				color: $lilas;
			}
		}
		.intro_texto {
			margin-bottom: 0;
			font-family: $dosis;
			font-weight: $lt;
			font-size: 26px;
			line-height: 1;
			color: white;
		}
	} // #bloco3
	
	// -----------------------------------------------------------------------------
	// BLOCO 4
	
	#bloco4 {
		padding-top: calc( 55 / #{$larguraLayout} * 100vw );
		.intro {
			margin-bottom: 70px;
			text-align: center;
			.intro_titulo {
				margin: 0;
				> .linha1 {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 34px;
					line-height: 1;
					color: $preto;
				}
				> .linha2 {
					display: block;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 104px;
					line-height: 0.7;
					color: $lilas;
				}
			}
		}
		.logotipos {
			margin-bottom: -50px;
			text-align: center;
			.logo {
				margin-bottom: 50px;
				.logo_img {
					vertical-align: middle;
				}
			}
		}
	} // #bloco4
}



// *********************************************************************************
// CORE STUDIO
// *********************************************************************************

#core-studio {
	.bloco {
		position: relative;
	}
	#bloco1 {
		padding-bottom: calc( 160 / #{$larguraLayout} * 100vw );
		&::before,
		&::after {
			position: absolute;
			z-index: 1;
			content: '';
			pointer-events: none;
		}
		&::before {
			@include imagem( 'imagens/servicos_esquerda.png', 269, 560 );
			left: 0;
			top: calc( 120 / #{$larguraLayout} * -100vw );
		}
		&::after {
			@include imagem( 'imagens/servicos_direita.png', 109, 484 );
			right: 0;
			top: calc( 205 / #{$larguraLayout} * 100vw );
		}
		> .container {
			position: relative;
			z-index: 2;
		}
		.intro {
			margin-bottom: 115px;
			text-align: center;
			.intro_titulo {
				margin: 0;
				> .linha1 {
					display: block;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 70px;
					line-height: $lh_simples;
					color: $lilas;
				}
				> .linha2 {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 36px;
					line-height: $lh_simples;
					color: $preto;
				}
			}
		} // .intro
		.secoes {
			.secao_info {
				text-align: left;
				.item_icone {
					vertical-align: top;
				}
				.item_nome {
					margin: 0;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 26px;
					line-height: $lh_simples;
					color: $lilas;
				}
				.item_texto {
					margin: 10px 0 0;
					font-family: $dosis;
					font-weight: $lt;
					font-size: 18px;
					line-height: $lh_simples;
				}
				.secao_item {
					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			} // .secao_info
			.secao_ilustracao {
			}
			.secao1 {
				margin-bottom: 115px;
				.secao_ilustracao {
					margin-top: -190px;
				}
			}
			.secao2 {
				.secao_ilustracao {
					position: absolute;
					top: -50px;
					right: 15px;
					z-index: 10;
				}
			}
		} // .secoes
	} // #bloco1
	#bloco2 {
		margin-bottom: calc( 128 / #{$larguraLayout} * 100vw );
		background-color: $lilas;
		padding-top: calc( 40 / #{$larguraLayout} * 100vw );
		padding-bottom: calc( ( 90 - 75 ) / #{$larguraLayout} * 100vw );
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 70%;
			width: 200%;
			background-color: $lilas;
			transform-origin: left top;
			transform: rotate(-8deg);
			content: '';
		}
		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			z-index: 1;
			border-style: solid;
			border-width: calc( 128 / #{$larguraLayout} * 100vw ) 50vw 0;
			border-color: $lilas transparent transparent;
			content: '';
			pointer-events: none;
		}
		> .container {
			position: relative;
			z-index: 2;
		}
		.intro {
			margin-bottom: 50px;
			text-align: center;
			.intro_titulo {
				margin: 0;
				> .linha1 {
					display: block;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 70px;
					line-height: $lh_simples;
					color: white;
				}
				> .linha2 {
					display: block;
					font-family: $shadows;
					font-weight: $rg;
					font-size: 36px;
					line-height: $lh_simples;
					color: white;
				}
			}
		} // .intro
		.itens {
			padding: 0 120px;
			.item {
				margin-bottom: 75px;
				text-align: center;
				color: white;
				.item_icone {
					margin-bottom: 20px;
					> .item_icone_img {
						vertical-align: middle;
					}
					.item_nome {
						margin: 0;
						font-family: $dosis;
						font-weight: $bd;
						font-size: 26px;
						line-height: $lh_simples;
						color: white;
					}
					.item_texto {
						margin-top: 10px;
						margin-bottom: 0;
						font-family: $dosis;
						font-weight: $lt;
						font-size: 18px;
						line-height: $lh_simples;
						color: white;
					}
				}
			}
		} // .itens
	} // #bloco2
} // #core-studio



// *********************************************************************************
// SAP STUDIO
// *********************************************************************************

#sap-studio {
	position: relative;
	&::before,
	&::after {
		position: absolute;
		z-index: 1;
		content: '';
		pointer-events: none;
	}
	&::before {
		@include imagem( 'imagens/servicos_esquerda.png', 269, 560 );
		left: 0;
		top: calc( 120 / #{$larguraLayout} * -100vw );
	}
	&::after {
		@include imagem( 'imagens/servicos_direita.png', 109, 484 );
		right: 0;
		top: calc( 205 / #{$larguraLayout} * 100vw );
	}
} // #sap-studio

	#sap_escolha {
		margin: 0 auto 45px;
		max-width: 100%;
		width: 710px;
		.subsecao_botao {
			position: relative;
			width: 100%;
			border-radius: 4px;
			border: solid $lilas 2px;
			background-color: white;
			padding: 0 0 calc( 100% - 4px );
			line-height: 0;
			font-size: 0;
			color: $lilas;
			transition: $moderada;
			.botao_conteudo {
				@include overlay();
				top: 50%;
				bottom: auto;
				transform: translateY(-50%);
				.botao_icone {
					display: inline-block;
					margin-bottom: 10px;
					width: 100%;
					transition: $moderada;
					> .botao_icone_inativo {
						vertical-align: middle;
					}
					> .botao_icone_ativo {
						display: none;
						vertical-align: middle;
					}
				}
				.botao_rotulo {
					display: inline-block;
					width: 100%;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 20px;
					line-height: $lh_simples;
					transition: $moderada;
				}
			} // .botao_conteudo
			&:hover,
			&:focus {
				color: $turquesa;
				.botao_icone {
					transform: translateY(-4px);
				}
			}
			&.ativo {
				background-color: $lilas;
				color: white;
				.botao_icone > .botao_icone_inativo {
					display: none;
				}
				.botao_icone > .botao_icone_ativo {
					display: inline-block;
				}
			}
		} // .subsecao_botao
	} // #sap_escolha
	
	#sap_telas {
		.tela {
			text-align: left;
			font-family: $dosis;
			font-weight: $lt;
			font-size: 18px;
			line-height: $lh_simples;
			color: $preto;
			h2,
			h3,
			p,
			ul,
			li {
				font-family: inherit;
				font-weight: inherit;
			}
			h2,
			h3 {
				margin: 0 0 10px;
				border-bottom: solid 1px #E0E0E0;
				padding-bottom: 5px;
				font-size: 26px;
				line-height: $lh_simples;
				font-weight: $bd;
				color: $lilas;
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
			ul {
				display: block;
				margin: 20px 0 20px 15px;
				list-style-type: none;
				padding: 0;
				> li {
					&::before {
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						@include base64( 'iVBORw0KGgoAAAANSUhEUgAAAAQAAAAFEAYAAAAyPZGYAAAAU0lEQVR42mPokmYw8c9jYIDQfHwQWk0NJg6VkFeA0C+eQ+hXLyF0UyNUQUIChF61EkIbGUHoWzehCiSlIPT9+xD640cIXVrGgOoGVjYILSoGEwcAx7AuI/h+Rz4AAAAASUVORK5CYII=', 4, 5 );
						content: '';
					}
					margin: 0;
					padding: 0;
					font-family: $dosis;
					font-weight: $lt;
					font-size: 18px;
					color: $preto;
				}
			}
		}
	} // #sap_telas



// *********************************************************************************
// DIGITAL TRANSFORMATION
// *********************************************************************************

#servicos.post-243 {
	.servicos_blocos .bloco .bloco_sobre .sobre_intro {
		max-width: 100%;
		text-align: left;
	}
}



// *********************************************************************************
// MODAL DE SERVIÇOS
// *********************************************************************************

.modal.modal_servicos {
	.modal-dialog {
		margin: 0;
		width: 100vw;
		min-height: 100vh;
		background-color: white;
		box-shadow: none;
		border: none;
		border-radius: 0;
		padding: 0;
	}
	.modal-content {
		margin: 0;
		border: none;
		border-radius: 0;
		box-shadow: none;
		background-color: transparent;
		padding: 140px 0;
		.modal-header {
			margin: 0;
			min-height: 0;
			border: none;
			padding: 0;
			button.close {
				position: fixed;
				float: none;
				opacity: 1;
				top: 140px;
				right: 140px;
				margin: -77px -67px 0 0;
				width: 77px;
				height: 77px;
				border-radius: 50%;
				border: none;
				background-color: $lilas;
				line-height: 77px;
				font-family: $dosis;
				font-weight: $lt;
				font-size: 90px;
				color: white;
				text-shadow: none;
				> .rotulo {
					display: inline-block;
					vertical-align: top;
					line-height: 57px;
				}
				&:hover,
				&:focus {
					background-color: $amareloMarca;
				}
			}
		}
		.modal-body {
			margin: 0;
			border: none;
			padding: 0;
			// ---------------------------------------------------------------
			// INTRO
			.modal_intro {
				margin-bottom: 45px;
				text-align: center;
				.intro_icone {
					display: inline-block;
					vertical-align: top;
					margin-bottom: 50px;
					// width: 140px;
					// height: 140px;
					// border: solid $lilas 3px;
					// border-radius: 50%;
					line-height: 134px;
					> .intro_icone_img {
						vertical-align: middle;
						max-width: 140px;
						max-height: 140px;
						width: auto;
						height: auto;
						@include svgColor( $amareloMarca );
					}
				}
				.intro_titulo {
					margin: 0 0 25px;
					font-family: $dosis;
					font-weight: $bd;
					font-size: 28px;
					line-height: $lh_simples;
					color: $lilas;
				}
				.intro_texto {
					margin-bottom: 0;
					text-align: left;
					font-family: $dosis;
					font-weight: $lt;
					font-size: 24px;
					line-height: $lh_simples;
					color: $preto;
				}
			} // .modal_intro
			// ---------------------------------------------------------------
			// ACORDIÃO
			.modal_acordiao {
				.panel {
					margin: 0 0 55px;
					border: none;
					border-radius: 0;
					box-shadow: none;
					background-color: transparent;
					padding: 0;
					.panel-heading {
						margin: 0;
						border: none;
						border-bottom: solid $lilas 2px;
						border-radius: 0;
						background-color: transparent;
						padding: 0;
						.panel-title {
							margin: 0;
							.panel-title-anchor {
								display: block;
								position: relative;
								padding: 0 0 12px;
								text-align: left;
								font-family: $dosis;
								font-weight: $bd;
								font-size: 28px;
								line-height: $lh_simples;
								color: $lilas;
								&::after {
									display: block;
									position: absolute;
									top: 50%;
									right: 10px;
									transform: translateY(-50%);
									width: 34px;
									height: 34px;
									background-color: $lilas;
									border-radius: 50%;
									line-height: 27px;
									text-align: center;
									font-family: $dosis;
									font-weight: $lt;
									font-size: 26px;
									color: white;
									content: '+';
									transition: $rapida;
								}
								&:hover,
								&:focus {
									color: $amareloMarca;
									&::after {
										background-color: $amareloMarca;
									}
								}
							}
						}
					} // .panel-heading
					.panel-collapse {
						.panel-body {
							background-color: #F8F8F8;
							padding: 65px 80px;
							text-align: left;
						}
					}
					&.ativo {
						.panel-heading .panel-title .panel-title-anchor::after {
							content: '\2212';
						}
					}
				}
			}
			// ---------------------------------------------------------------
			// CONTEÚDO DO ACORDIÃO
			.secao_texto {
				margin-bottom: 30px;
				font-family: $dosis;
				font-weight: $lt;
				font-size: 24px;
				line-height: $lh_simples;
				color: $preto;
			}
			.secao_itens {
				margin-bottom: -35px;
			} // .secao_itens
				.secao_item {
					margin-bottom: 35px;
					.item_cabecalho {
						margin-bottom: 15px;
						line-height: 100px;
						font-size: 0;
						.item_icone {
							display: inline-block;
							vertical-align: middle;
							width: 100px;
							> .item_icone_img {
								vertical-align: top;
								max-width: 100px;
								max-height: 100px;
								width: auto;
								height: auto;
								transition: $rapida;
								@include svgColor();
								@include svgColor( $amareloMarca );
							}
						}
						.item_nome {
							display: inline-block;
							vertical-align: top;
							margin: 8px 0 0;
							width: calc( 100% - 100px );
							padding-left: 20px;
							font-family: $dosis;
							font-weight: $bd;
							font-size: 28px;
							line-height: $lh_simples;
							color: $preto;
							letter-spacing: -0.05em;
						}
					} // .item_cabecalho
					.item_texto {
						margin-bottom: 0;
						font-family: $dosis;
						font-weight: $lt;
						font-size: 20px;
						line-height: $lh_simples;
						color: $preto;
					}
					&.layout_1 {
					}
					&.layout_2 {
						.item_cabecalho .item_nome {
							padding-right: 25%;
						}
					}
					&:hover {
						.item_cabecalho .item_icone > .item_icone_img {
							transform: scale(1.1);
							@include svgColor( $turquesa );
						}
					}
				} // .secao_item
		} // .modal-body
	} // .modal-content
} // .modal.modal_servicos
